@import "../../styles/index.scss";

.wa-side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 4px -1px rgb(216, 216, 216);
    gap: 10%;

    &__container {
        display: flex;
        min-width: $container-width;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        display: flex;
        font-size: 14px;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    &__search {
        cursor: pointer;
        user-select: none;
    }
}